.header {
    display: flex;
    position: sticky;
}
.header-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    display: flex;
    padding: 20px;
    font-weight: 700;
    margin-left: 100px;
}
.header-text h1 {
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-list{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 100px;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--nav-txt);
}